.clear {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

.xs {
  font: var(--font-12-regular);
}

.sm {
  font: var(--font-16-regular);
}

.md {
  font: var(--font-20-regular);
}

.lg {
  font: var(--font-24-regular);
}

.xl {
  font: var(--font-32-regular);
}
