.link {
  display: flex;
  align-items: center;
  color: var(--text-secondary-color);
  gap: 8px;

  &:hover {
    color: var(--text-primary-color);
  }

  &:focus {
    color: var(--text-secondary-color);
  }

  &:disabled {
    color: var(--text-tertiary-color);
  }
}

.active {
  color: var(--bg-brand);
}
