.header {
  display: flex;
  align-items: center;
  padding: 24px 240px;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-light-color);
}

.nav {
  margin-left: 32px;
  flex: 1;
}

.nav_list, .actions_list {
  display: flex;
  gap: 24px;
  transform: translateY(-2px);
}




.nav_link, .actions_button {
  display: flex;
  align-items: center;
  gap: 15px;
}


